* {
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Raleway';
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 26.4px;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.im{
    font-family: 'Raleway';
    font-size: 60px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 36.4px;
    color: white;
    padding-top: 150px;
    height: 655px;

}
.img{
  border-radius: 50%;
  margin-top: 80px;
  height: 150px;
  width: 150px;
  float: left;
  max-width: 100%;
}
.outerDiv {
    display: inline-flex;  <== This is responsible for vertical alignment
    height: 400px;
    color: white;
    margin-left: 50px;
    margin-top: 150px;
}
.innerDiv {
    margin: auto 5px;   <== This is responsible for vertical alignment
}
p .about{
  float: right;
  line-height: 0px;
}
.about{
  /*margin-left: 400px;

  margin-right: 20px;
  margin-bottom: 20px;*/
  width: 65%;
  float: right;
  padding-top: 80px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.aboutname{
  width: 65%;
  float: right;
  padding-top: 80px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.imbackground{
  display: table;
  width: 100%;
  background: url('img/milwaukee.jpg');
  background-position: center top;
  color: white;
  height:100%;
  width:auto;
  max-height: 100%;
}
[class*="col-"] {
    float: left;
    padding: 0px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
