* {
  padding: 0;
  margin: 0;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.im{
    font-family: 'Raleway';
    font-size: 60px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    color: white;
    padding-top: 80px;
    background-color: grey;
    min-width: 100%;
}
.img{
  border-radius: 50%;
  padding-top: 0px;
  height: 150px;
  width: 150px;

}
.outerDiv {
    display: inline-flex;  <== This is responsible for vertical alignment
    height: 400px;
    color: white;
    margin-left: 50px;
    margin-top: 150px;
}

.innerDiv {
    margin: auto 5px;   <== This is responsible for vertical alignment
}
